.DS_Store
.vscode/
.github/
ocimgr.log
inventory_*.txt
ocimgr.egg-info/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
coverage.xml
dist/
build/
*.egg-info/
*.egg
*.whl
*.log
ocimgr-*.log
delete_*.log
inventory_*.txt
compartments.json
all-compartments-*.txt
delete-compartments-*.txt
remaining*_compartments*.txt
target_compartments*.txt
falcon-list*.txt